<appSettings>
  <add key="name" value="Zatea.VersionBroker" />
  <add key="description" value="Zatea VersionBroker: For version control and reporting of your configurations" />

  <add key="configurationServiceProtocol" value="http" />
  <add key="configurationServiceUrl" value="ConfigurationService" />
  <add key="configurationServicePort" value="707" />

</appSettings>  