<connectionStrings>
  <add name="Configuration"
          connectionString="Data Source=%ALLUSERSPROFILE%\Zetea\Zetea.VersonBroker\Zetea.VersonBroker.Configuration.db;Version=3;UseUTF16Encoding=True;Pooling=True;Max Pool Size=100;"
          providerName="System.Data.SQLite" />
</connectionStrings>
