<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="day" value="${date:format=dddd}"/>
  <variable name="month" value="${date:format=MMMM}"/>
  <variable name="fmt" value="${longdate} | ${level} | ${logger} | ${day} | ${month} | ${message}"/>
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${fmt}" />
    <target name="file"
            xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:separator=&#13;&#10;:format=Message, StackTrace:maxInnerExceptionLevel=9}"
            fileName="${basedir}/Logs/logfile.txt"
            archiveFileName="${basedir}/Logs/archives/logfile.{#}.txt"
    archiveAboveSize="10240000"
    archiveNumbering="Rolling"
    maxArchiveFiles="10"
    concurrentWrites="true"
    keepFileOpen="false"
    encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />  
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>